<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jun.spring.project">

	<!-- 회원 관리 -->
	<select id="memberSelectAll" resultType="MemberDTO" parameterType="MemberDTO">
		select uniqueid, userid, password, nickname, phonenum, email, birthday
		from member 
	</select>
	
	<select id="checkID" resultType="MemberDTO" parameterType="java.lang.String">
		select userid from member 
		where userid = #{userid}
	</select>
	
	<select id="checkNickname" resultType="MemberDTO" parameterType="java.lang.String">
		select nickname from member 
		where nickname = #{nickname}
	</select>
	
	<select id="checkEmail" resultType="MemberDTO" parameterType="java.lang.String">
		select email from member 
		where email = #{email}
	</select>
	
	<select id="memberSelect" resultType="MemberDTO" parameterType="java.lang.String">
		select userid, password,nickname, phonenum, email, birthday from member 
		where userid = #{userid}
	</select>

	<insert id="memberInsert" parameterType="MemberDTO">
		insert into member (uniqueid, userid, password, nickname, phonenum, email, birthday ) 
		values (#{uniqueid},#{userid},#{password},#{nickname},#{phonenum},#{email},to_date(#{birthday}, 'yyyy-mm-dd') ) 
	</insert>
	
	<update id="memberUpdate" parameterType="MemberDTO">
		update member set uniqueid=uniqueid, password=#{password}, nickname=#{nickname}, phonenum=#{phonenum}, email=#{email} 
		where userid = #{userid}
	</update>
	
	<delete id="memberDelete" parameterType="MemberDTO">
		delete from member
		where userid=#{userid}
	</delete>	
	<select id="findUserid" resultType="MemberDTO" parameterType="MemberDTO">
		select userid, password, nickname, phonenum, email from member 
		where email = #{email} and phonenum = #{phonenum}
	</select>
	<select id="findPassword" resultType="MemberDTO" parameterType="MemberDTO">
		select userid, phonenum, email from member 
		where email = #{email} and phonenum = #{phonenum}
	</select>
	<select id="findByToken" resultType="MemberDTO" parameterType="java.lang.String">
		select userid, password, email, passwordResetToken from member 
		where passwordResetToken = #{passwordResetToken}
	</select>
	<update id="passwordResetToken" parameterType="MemberDTO">
		update member set passwordResetToken = #{passwordResetToken}
		where email = #{email}
	</update>
	<update id="resetpassword" parameterType="MemberDTO">
		update member set password = #{password}
		where passwordResetToken = #{passwordResetToken}	
	</update>
	



</mapper>